#embedding generation backend
PYTHON_SERVER_URL=

#database configurations
CHROMA_CLIENT_HOST=
CHROMA_CLIENT_PORT=
CHROMA_CLIENT_DB= #It will be used for both Mongodb and CHROMA Db name

#Authentication 
FACE_THRESHOLD=0.70
JWT_SECRET_KEY=
AES_SECRET_KEY=